SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{manufacturer}=="Teensyduino", ATTRS{idVendor}=="16c0", GOTO="_TEENSY_"
GOTO="_END_"

# Teensy
LABEL="_TEENSY_"
SUBSYSTEMS=="usb", DRIVERS=="cdc_acm", ATTRS{bInterfaceNumber}=="02", SYMLINK+="ttyAttackTelem"

# End
LABEL="_END_"


