SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{manufacturer}=="mRo", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="5740", GOTO="_MRO_"
GOTO="_END_"

# mRo
LABEL="_MRO_"
SUBSYSTEMS=="usb", DRIVERS=="cdc_acm", ATTRS{bInterfaceNumber}=="00", SYMLINK+="ttyPilot"

# End
LABEL="_END_"


