[Unit]
Description=spearuav drone ui flask Service
After=network.target


[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/mnt/sd/spearuav/drone-ui/flask
ExecStart=/mnt/sd/spearuav/drone-ui/flask/drone-ui-flask-jetson -p 4000 -n Vision -id 1 -l "/mnt/sd/spearuav/logs" -app "/mnt/sd/spearuav"

[Install]
WantedBy=multi-user.target
